<footer>
    <div class="container">
        <!-- <hr class="hr_line"> -->
        <div class="row pt-5 pb-4">
            <div class="col-6 col-md" style="text-align:center;">
                <h3>{{ _('關於 Max')}}</h3>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/">{{ _('現任職 圖靈數位 工程師')}}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md" style="text-align:center;">
                <h3>Explore</h3>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="https://maxlist.xyz/">Blog</a></li>
                    <li><a class="text-muted" target="_blank"
                            href="https://www.facebook.com/profile.php?id=100002148309560">Facebook</a></li>
                    <li><a class="text-muted" target="_blank" href="https://github.com/hsuanchi">GitHub</a></li>
                </ul>
            </div>
            <div class="col-12 col-md" style="text-align:center;">
                <img class="mb-2" src="{{ url_for('static', filename='img/max.png') }}" alt="max_icon" width="24"
                    height="24">
                <small class="d-block mb-3 text-muted">© 2018-2020</small>
            </div>
        </div>
    </div>
</footer>